@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@700&display=swap');

/* 
light: #f8f8f8; 
*/


html, body {
    background:url("./assets/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
    margin-top:-180px;
}

.title{
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #815bff;
}

.white-box{
    padding: 35px;
    background: white;
    border-radius: 5px;

    width: 350px;
    max-width: 350px;
    margin-top:-180px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #E79EA7;
}

.btn-primary{
    background-color:#6414ee !important;
    border-color: inherit;
}

.btn-primary:hover{
    background-color: #6414ee9c !important;
    border-color: inherit;
}

.btn-secondary{
    background-color:#8f8f8f !important;
    border-color: inherit;
}

.btn-secondary:hover{
    background-color: #8f8f8f8c !important;
    border-color: inherit;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #6414ee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #6414ee;
  outline: 0 none;
}